.view-filters {
    margin-bottom: 40px;
}

.views-exposed-form {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .form-item {
        label {
            @include font-bold;
        }

        .input {
            margin-right: 0;
            margin-left: auto;
        }
    }

    .form-submit {
        margin-left: 15px;
    }
}
